.vs/
Aquatrols/Aquatrols.Android/bin
Aquatrols/Aquatrols.Android/obj
Aquatrols/Aquatrols.iOS/bin
Aquatrols/Aquatrols.iOS/obj

ⸯ獶䄯畱瑡潲獬瘯㔱匯牥敶⽲煳楬整⼳扤氮捯൫ഊ⼊瘮⽳煁慵牴汯⽳ㅶ⼵敓癲牥猯汱瑩㍥਍
.vs
Aquatrols/Aquatrols.Android/obj
Aquatrols/Aquatrols.iOS/obj
.vs
.vs
Aquatrols/Aquatrols.Android/obj
Aquatrols/Aquatrols.iOS/obj
Aquatrols/Aquatrols.Android/obj
.vs
Aquatrols/Aquatrols.iOS/obj
.vs
Aquatrols/Aquatrols.Android/bin
Aquatrols/Aquatrols.Android/obj
Aquatrols/Aquatrols.iOS/obj
Aquatrols/Aquatrols.Android/bin
.vs
/UpgradeLog.htm
/UpgradeLog2.htm
Aquatrols/Aquatrols.Android/Aquatrols.Android.csproj.user
packages
Aquatrols/.DS_Store
